nav{
    background: var(--blue);
    .link > a {
        color: var(--white);
        text-decoration: none;
        font-weight: 600;
        &:hover{
          color: var(--yellow);
        }
        &:active{
          color: var(--yellow);
        }
    }
    .navbar-brand img{
        height: 70px;
    }
    .icon_social{
        font-size: 22px;
    }
}

@media (max-width: 768px) {
  .navbar-nav{
    text-align: center;
  }
  .navbar-collapse{
      padding-top: 30px;
  }
  .social{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: var(--blue);
    margin-top: 20px;
  }
}